@font-face {
  font-family: "ExoMd";
  src: local("ExoMd"),
    url(./ExoMed.otf) format("truetype");
}

@font-face {
  font-family: "ExoBd";
  src: local("ExoBd"),
    url(./ExoBold.otf) format("truetype");
}

@font-face {
  font-family: "RobotoMd";
  src: local("RobotoMd"),
    url(./RobotoMed.ttf) format("truetype");
}

@font-face {
  font-family: "RobotoBd";
  src: local("RobotoBd"),
    url(./RobotoBold.ttf) format("truetype");
}