@import './base.css';
@import './theme.css';

/* GLOBAL STYLES */

body {
  overflow-x: hidden;
  font-family: "RobotoMd";
}

h2 {
  font-family: "RobotoBd";
  padding: 30px 0 0 30px;
}

h3 {
  font-family: "RobotoBd";
  padding: 20px 0 0 50px;
}

p {
  padding: 10px 100px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #a73b0c;
}

@media (max-width: 992px) {
  h2 {
    padding: 15px 0 0 15px;
  }
  
  h3 {
    padding: 10px 0 0 25px;
  }
  
  p {
    padding: 5px 50px;
  }
}

/* Z-INDEX STYLES */

.far-far-back {
  z-index: -10;
}

.far-back {
  z-index: -5;
}

.back {
  z-index: -3;
}

.front {
  z-index: 3;
}

.far-front {
  z-index: 5;
}

.far-far-front {
  z-index: 10;
}